<div id="items">
<fieldset class="new-item-fields">
    Item name:
    <%= text_field_tag "items[][name]" %>
    Category:
    <%= select_tag "items[][category]", options_from_collection_for_select(Category.all, "id", "name"), {include_blank: true} %>
    <%= link_to "remove", '#', class: "remove-fields" %>
</fieldset>
</div>
