<fieldset class="new-item-fields">
  <li>
    Item name:
    <%= f.text_field :name %>
    Category: 
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%= link_to "remove", '#', class: "remove-fields" %>
  </li>
</fieldset>
