<h1>All Recipes</h1>

<ul id="recipes">
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li>
  <% end %>
</ul>

<p> <%= link_to "Create a new recipe" , new_recipe_path %> </p>
