<h1> Welcome to Grocery! <br /> Create, save, and organize your shopping lists and recipes. </h1>
<p> Check out some recently created lists! </p>
<ul>
  <% @recent_lists.each do |list| %>
    <li> <%= link_to list.name, grocery_lists_path(list.id) %> </li>
  <% end %>
</ul>
<p>
Danish cookie danish marzipan gingerbread chocolate cake powder candy. Cheesecake biscuit apple pie cotton candy sugar plum wafer. Tiramisu carrot cake chocolate candy cookie jujubes. Chocolate carrot cake gummi bears gummies pastry candy pie gummies. Pie carrot cake lemon drops caramels gummies jujubes. Chocolate sugar plum toffee gummies chupa chups. Cheesecake oat cake powder caramels.
</p>
<p>
Candy canes cotton candy marshmallow liquorice bear claw sweet marshmallow candy marshmallow. Cupcake pudding lollipop bonbon jelly beans. Chocolate bar powder candy bonbon cupcake. Chocolate candy brownie marzipan tiramisu jelly-o. Powder sesame snaps tiramisu sweet cupcake candy icing pastry lemon drops. Gummies sugar plum halvah donut toffee halvah. Tiramisu gingerbread caramels marshmallow tootsie roll sesame snaps macaroon cotton candy cake. Biscuit tootsie roll gummi bears. Cotton candy lollipop biscuit pastry sesame snaps croissant powder.
</p>
