// Place all the styles related to the grocery_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
  background: white;
  height: 320px;
  max-width: 800px;
  width: 100%;
  border-spacing: 20px 0px;

  th {
    color:#fff;
    background:#26734d;
    font-size:18px;
    font-weight: 100;
    padding:15px;
    vertical-align:middle;
    text-align:center;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
  }

  tr:nth-child(even){
    height: 150px;
  }

  td {
    color:#666B85;
    background:#ecf9f2;
    text-align:left;
    font-size:16px;
    border:1px #26734d solid;
  }

}
